<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <% if (errorMessage) { %>
                    <div class="alert alert-danger mt-3" role="alert"><%= errorMessage %></div>
                <% }else if (infoMessage) { %>
                    <div class="alert alert-success mt-3" role="alert"><%= infoMessage %></div>
                <% }else{ %>
                    <div class="alert alert-info mt-3" role="alert">
                        Benvenuto nel sistema di prenotazione Shala di <strong>Astanga Yoga Firenze</strong>.<br/>
                        Accedi con le tue credenziali o registrati cliccando sul link del menu.<br/>
                    </div>
                <% } %>
                <div class="card mt-3">
                    <div class="card-header">
                        Login
                    </div>
                    <div class="card-body">
                        <form class="login-form" action="/login" method="POST">
                            <div class="form-group">
                                <label for="email">E-Mail</label>
                                <input type="email" name="email" id="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="form-control">
                                <small id="emailHelp" class="form-text text-muted"><a href="/reset">Password dimenticata?</a></small>
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn btn-info" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('../includes/end.ejs') %>