<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/nav.ejs') %>
   <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <% if (errorMessage) { %>
                    <div class="alert alert-danger mt-5" role="alert"><%= errorMessage %></div>
                <% } %>
                <div class="card mt-5">
                    <div class="card-header">
                        Update password
                    </div>
                    <div class="card-body">
                        <form class="login-form" action="/new-password" method="POST">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" name="userId" value="<%= userId %>">
                            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                            <button class="btn btn-info" type="submit">Update password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   </div>
<%- include('../includes/end.ejs') %>