<%- include('../includes/head.ejs') %>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
    function onSubmit(token) {
        document.getElementById("demo-form").submit();
    }
    </script>     
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/nav.ejs') %>

   <div class="container">
       <div class="row">
           <div class="col-md-6 offset-md-3">
                <% if (errorMessage) { %>
                    <div class="alert alert-danger mt-5" role="alert"><%= errorMessage %></div>
                <% } %>
                <div class="card mt-5">
                    <div class="card-header">
                        Registrati
                    </div>
                    <div class="card-body">
                    <form id="signup-form" class="login-form" action="/signup" method="POST">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Nome</label>
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="6Leg6-gdAAAAAI4NNDAhj6ENu1gl8VCaeVTvZRst"></div>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button
                            class="btn btn-info g-recaptcha" 
                            data-sitekey="6LcEm98dAAAAAIcVdCv3F9KZZhvZCIiOOLQAthJ9" 
                            data-callback='onSubmit' 
                            data-action='submit'
                            type="submit">
                            Signup</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<%- include('../includes/end.ejs') %>