<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/datepicker.min.css">
    <!--link rel="stylesheet" href="/css/dtsel.css"-->
</head>

<body>
    
   <%- include('../includes/nav.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mt-5">
                    <div class="card-header">
                        <%= editMode?'Modifica pratica':'Aggiungi nuova pratica'%>
                    </div>
                    <div class="card-body">
                        <form class="lesson-form" action="/admin/<%= editMode?'edit-lesson':'add-lesson'%>" method="POST">
                            <% if(editMode){ %>
                            <input type="hidden" name="id" value="<%=lesson._id%>">
                            <% } %>
                            <div class="form-group">
                                <label for="date">Data pratica</label>
                                <input 
                                    class="form-control dateinput" 
                                    type="text" 
                                    name="date" 
                                    id="date" 
                                    value="<%= editMode ? helpers.getInputFormDate(lesson.date) : '' %>" 
                                    class="datefield"
                                    >
                            </div>
                            <div class="form-group">
                                <label for="time">Ora pratica</label>
                                <select class="form-control" name="time" id="time">
                                    <% for(i=7; i <= 19; i++){ 
                                        let clock = i+":00";
                                        let half = i+":30";
                                        %>
                                        <option
                                            <%= (editMode && helpers.getInputFormTime(lesson.date) == clock) ? 'selected="selected"' : '' %>
                                        ><%= clock %></option>
                                        <option
                                            <%= (editMode && helpers.getInputFormTime(lesson.date) == half) ? 'selected="selected"' : '' %>
                                        ><%= half %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="slots">Num partecipanti max</label>
                                <select class="form-control" name="slots" id="slots">
                                    <% for(i=5; i <= 20; i++){ %>
                                        <option
                                            <%= (editMode && lesson.maxSlots == i) ? 'selected="selected"' : '' %>
                                        ><%= i %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="form-check">
                                <input 
                                    onclick="toggleAltroInput();"
                                    class="form-check-input" 
                                    type="radio" 
                                    name="type" 
                                    id="type-m" 
                                    value="mysore" 
                                    <%= (!editMode || (editMode && lesson.type === 'mysore')) ? 'checked' : '' %>
                                    >
                                <label class="form-check-label" for="type-m">
                                    Mysore
                                </label>
                            </div>
                            <div class="form-check">
                                <input 
                                    onclick="toggleAltroInput();"
                                    class="form-check-input" 
                                    type="radio" 
                                    name="type" 
                                    id="type-g" 
                                    value="guidata"
                                    <%= (editMode && lesson.type === 'guidata') ? 'checked' : '' %>
                                    >
                                <label class="form-check-label" for="type-g">
                                    Guidata
                                </label>
                            </div>
                            <div class="form-check">
                                <input 
                                    onclick="toggleAltroInput();"
                                    class="form-check-input" 
                                    type="radio" 
                                    name="type" 
                                    id="type-a" 
                                    value="altro"
                                    <%= (editMode && lesson.type !== 'guidata' && lesson.type !== 'mysore') ? 'checked' : '' %>
                                    />
                                <label class="form-check-label" for="type-a">
                                    altro
                                </label>
                            </div>
                            <div class="form-group">
                                <input 
                                    class="form-control"
                                    type="text"
                                    name="type_altro"
                                    id="type_altro"
                                    value="<%= (editMode && lesson.type !== 'guidata' && lesson.type !== 'mysore') ? lesson.type : '' %>"
                                    />
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn btn-info mt-3" type="submit"><%= editMode ? 'Modifica pratica' : 'Aggiungi pratica'%></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="/js/datepicker.min.js"></script>
<!--script src="/js/dtsel.js"></script-->
<script>
    const picker = datepicker('.dateinput', {
    formatter: (input, date, instance) => {
        console.log('input');
        const value = date.toLocaleDateString();
        input.value = value;
    }});

    const toggleAltroInput = () => {
        document.getElementById("type_altro").style.display = document.getElementById("type-a").checked ? 'block':'none';
    }

    window.addEventListener('DOMContentLoaded', (event) => {
        toggleAltroInput();
    });

    // const dateTimePicker = new dtsel.DTS('.dateinput',  {
    //     showTime: true
    // });

</script>
<%- include('../includes/end.ejs') %>