<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>

            <div class="container">
                <% if (messageInfo) { %>
                    <div class="mt-4 alert alert-success" role="alert"><%= messageInfo %></div>
                <% } %>
                <% if (messageErr) { %>
                    <div class="mt-4 alert alert-danger" role="alert"><%= messageErr %></div>
                <% } %>

                <div class="btn-group mt-4" role="group" ">
                    <a type="button" class="btn btn-secondary active" href="/admin/lessons">Prossime</button>
                    <a type="button" class="btn btn-secondary" href="/admin/lessons-archive">Tutte le pratiche</a>
                </div>

                <% if (lessons.length > 0) { %>

                    <h5 class="mt-4 text-secondary">Prossime pratiche</h5>

                    <div class="list-group mt-4">
                        <% for (let lesson of lessons) { %>
                            <%- include('../includes/lesson-item-admin.ejs', {lesson: lesson, includeYear: false}) %> 
                        <% } %>
                    </div>
                
                <% } else { %>
                    <div class="mt-4 alert alert-secondary" role="alert">Nessuna pratica trovata!</div>
                <% } %>
            </div>

        <script>
            function onDeleteLesson(){
                return confirm("Eliminare la pratica?");
            }
        </script>

        <%- include('../includes/end.ejs') %>