<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>

            <div class="container">
                <% if (lessons.length > 0) { %>
                    <div class="list-group mt-5">
                        <% for (let lesson of lessons) { %>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <%= lesson.date %>
                                </div>
                                <div class="col-md-3">
                                    <%= lesson.maxSlots %> posti
                                </div>
                                <div class="col-md-3">
                                    <%= lesson.type %>
                                </div>
                                <div class="col-md-3">
                                    <a href="/admin/edit-lesson/<%= lesson._id %>?edit=1" class="btn">Modifica</a>
                                    <form action="/admin/delete-lesson" method="POST">
                                        <button class="btn" type="submit">Elimina</button>
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" name="lessonId" value="<%= lesson._id %>">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <h1>Nessuna pratica trovata!</h1>
                <% } %>
            </div>

        <%- include('../includes/end.ejs') %>