<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>

            <div class="container">
                <% if (messageInfo) { %>
                    <div class="mt-4 alert alert-success" role="alert"><%= messageInfo %></div>
                <% } %>
                <% if (messageErr) { %>
                    <div class="mt-4 alert alert-danger" role="alert"><%= messageErr %></div>
                <% } %>

                <% if (lessons.length > 0) { %>

                    <h5 class="mt-4 text-secondary">Pratiche di questo mese</h5>

                    <div class="list-group mt-4">
                        <% for (let lesson of lessons) { %>
                            <%- include('../includes/lesson-item-admin.ejs', {lesson: lesson}) %> 
                        <% } %>
                    </div>

                    <% if (nmLessons.length > 0) { %>

                        <h5 class="mt-4 text-secondary">Pratiche del prossimo mese</h5>
                        <div class="list-group mt-4">
                            <% for (let lesson of nmLessons) { %>
                                <%- include('../includes/lesson-item-admin.ejs', {lesson: lesson}) %> 
                            <% } %>
                        </div>

                    <% } %>
                
                <% } else { %>
                    <h1>Nessuna pratica trovata!</h1>
                <% } %>
            </div>

        <script>
            function onDeleteLesson(){
                return confirm("Eliminare la pratica?");
            }
        </script>

        <%- include('../includes/end.ejs') %>