<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>

            <div class="container">
                <% if (users.length > 0) { %>
                    <div class="list-group mt-5">
                        <% for (let user of users) { %>
                        <div class="list-group-item text-md-left text-center">
                            <div class="row">
                                <div class="col-md-3 text-md-left text-center">
                                    <%= user.name %>
                                    <% if(user.superuser){ %>
                                        <span class="badge badge-info">admin</span>
                                    <% } %>
                                </div>
                                <div class="col-md-3 text-md-left text-center">
                                    <%= user.email %>
                                </div>
                                <div class="col-md-3 text-md-left text-center">
                                    
                                </div>
                                <div class="col-md-3 text-md-right text-center">
                                    <% if(!user.superuser){ %>
                                    <form action="/admin/delete-user" method="POST" style="display: inline;">
                                        <button onclick="return onDeleteUser();" class="btn btn-sm btn-outline-danger" type="submit">Elimina</button>
                                        <input type="hidden" name="userId" value="<%= user._id %>">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    </form>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <h1>Nessun utente trovato!</h1>
                <% } %>
            </div>

            <script>
                function onDeleteUser(){
                    return confirm("Eliminare l'utente?");
                }
            </script>

        <%- include('../includes/end.ejs') %>