<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <div class="container">
        <% if (messageInfo) { %>
            <div class="mt-4 alert alert-success" role="alert"><%= messageInfo %></div>
        <% } %>
        <% if (messageErr) { %>
            <div class="mt-4 alert alert-danger" role="alert"><%= messageErr %></div>
        <% } %>
        <% if (lessons.length > 0) { %>

            <h5 class="mt-4 text-secondary">Le mie prenotazioni</h5>

            <div class="list-group mt-4">
            <% for (let lesson of lessons) { %>
                <%- include('../includes/my-lesson-item.ejs', {lesson: lesson}) %>
            <% } %>
            </div>

        <% } else { %>
            <h4>Non hai prenotato ancora nessuna pratica.</h4>
        <% } %>
        </div>
        <script>
            function onCancelSlot(){
                return confirm("Annullare la pratica?");
            }
        </script>
<%- include('../includes/end.ejs') %>