<%- include('../../includes/head.ejs') %>
</head>

<body>
    <%- include('../../includes/nav.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mt-5">
                    <div class="card-header">
                        Profilo utente
                    </div>
                    <div class="card-body">
                      <p class="card-text">In questa sezione trovi il riepilogo dei tuoi dati.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Nome: <%= user.name %></li>
                      <li class="list-group-item">Email: <%= user.email %></li>
                      <li class="list-group-item">A third item</li>
                    </ul>
                    <div class="card-body">
                        <a class="btn btn-info" href="/edit-profile">Modifica dati</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
<%- include('../../includes/end.ejs') %>